/* line 4, index.scss */
body {
  font-family: "quicksand";
}

/* line 8, index.scss */
#header {
  text-align: center;
}
/* line 10, index.scss */
#header h1 {
  font-family: 'pathway gothic one';
  font-size: 60px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}
/* line 19, index.scss */
#header li {
  display: inline;
  margin: 0 10px;
}

/* line 25, index.scss */
.container {
  width: 1000px;
  height: 200px;
  margin: 40px auto;
}

/* line 31, index.scss */
#nav {
  text-transform: uppercase;
  width: 20%;
  height: 400px;
  float: left;
  z-index: 100;
  margin-top: 15px;
}
/* line 38, index.scss */
#nav li {
  font-size: 25px;
  margin-top: 25px;
  color: #000;
  position: relative;
  left: 0;
  transition: all .2s;
}

/* line 48, index.scss */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 53, index.scss */
a {
  text-decoration: none;
  color: #31769b;
  position: relative;
  top: 0;
}

/* line 59, index.scss */
a:hover {
  font-weight: bold;
}

/* line 63, index.scss */
#page {
  width: 70%;
  height: 700px;
  background-color: #fff;
  float: left;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
/* line 71, index.scss */
#page .wrapper {
  width: 40%;
  height: 30%;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  margin: -5px 20px 100px 20px;
}
/* line 78, index.scss */
#page .wrapper li {
  display: inline-block;
  margin: 10px;
}
/* line 83, index.scss */
#page .project {
  width: 100%;
  height: 85%;
  background-color: #fff;
  border: 2px solid black;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
}
/* line 91, index.scss */
#page .project img {
  width: 100%;
}

/* line 97, index.scss */
.boxy {
  position: relative;
  width: 290px;
  height: 100px;
  z-index: 100;
}

/* line 104, index.scss */
.overlay {
  display: block;
  position: absolute;
  background: #000;
  transition: all .2s;
  left: 0;
  width: 0;
  height: 80px;
  z-index: 100;
}

/* line 115, index.scss */
.boxy.hover .overlay {
  width: 290px;
  z-index: 100;
}
/* line 118, index.scss */
.boxy.hover .overlay li {
  color: #fff !important;
  left: 10px !important;
  font-weight: bold;
}

/* line 125, index.scss */
.skill {
  z-index: 1;
  width: 40%;
  height: 240px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 30px 30px 30px;
  padding: 0;
}
/* line 126, index.scss */
.skill h2 {
  line-height: 30px;
  font-size: 24px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #31769b;
  font-family: 'open sans';
  letter-spacing: 4px;
  text-transform: uppercase;
}
/* line 144, index.scss */
.skill li {
  display: block;
  padding: 5px;
}

/* line 151, index.scss */
.slide:first-child {
  font-size: 25px;
}
/* line 153, index.scss */
.slide:first-child span {
  font-family: 'pacifico';
  font-size: 40px;
}
/* line 157, index.scss */
.slide:first-child p:first-child {
  margin-top: 80px;
}

/* line 163, index.scss */
.slide:last-child {
  padding: 0;
  position: relative;
  top: 0;
}
/* line 167, index.scss */
.slide:last-child img {
  width: 30% !important;
  margin: 30px;
}

/* line 174, index.scss */
#page .slide {
  display: none;
}
/* line 176, index.scss */
#page .slide.showing {
  display: block;
  z-index: 1;
}

/* line 182, index.scss */
.hidden {
  display: none;
}
